#map-legend {
  max-width: 12rem;
}

#map{
  z-index:0;
}

#map-legend{
  z-index: 999;
}



.absolute-top-4-left-4{
  z-index: 999;
}

/* Move Leaflet zoom buttons to bottom-right */
.leaflet-control-zoom {
  top: auto !important;
  bottom: 20px !important;
  left: 20px !important;
  left: auto !important;
  z-index: 1000 !important;
}

/* If Leaflet wrapped it inside a container */
.leaflet-top.leaflet-left {
  top: auto !important;
  bottom: 20px !important;
  left: 20px !important;
  left: auto !important;
}
